@import "../../variables.scss";

.button {
  @include button-style();
}

.button.grey {
  @include button-style(#d2d2d2, $scanBlack);
}

.authContent {
  width: 100%;
  background-color: $scanWhite;
  padding-top: 123px;
  max-width: 1440px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.textAndPicture {
  padding-top: 30px;
}

.h1AuthPage {
  font-size: 40px;
}

.authLargeImageDesktop {
  width: 321.76px;
  height: 342.03px;
  margin-left: 112px;
}

.authLargeImageMobile {
  display: none;
  margin-top: 30px;
}

.authBlock {
  width: 480px;
  height: 578px;
}

.authIconLock {
  width: 75.22px;
  height: 92.06px;
}

.authForm {
  width: 429px;
  height: 523px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000033;
  margin-top: -40px;
  margin-left: 45px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 2px solid;
  border-color: #c7c7c7;
  text-align: center;
  font-size: 16px;
  padding-right: 35px;
  padding-left: 35px;
}

.tab.active {
  border-color: $scanGreen;
}

.inactive {
  color: #c7c7c7;
}

.authForm form {
  min-width: 379px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 0;
}

.authForm label {
  display: block;
  margin-bottom: 10px;
  color: #949494;
}

.input {
  max-height: 90px;
  min-height: 90px;
}

.authForm input[type="text"],
.authForm input[type="password"] {
  width: 379px;
  height: 43px;
  padding: 8px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #00000011;
}

.authForm input:focus {
  outline: 1px solid $scanGreen;
  border-color: $scanGreen;
  font-size: 16px;
  padding-left: 20px;
}

.authButtonDiv {
  margin-top: 30px;
  text-align: center;
}

.authButton {
  width: 305px;
}

.authFormError {
  font-size: 14px;
  text-align: center;
  margin-top: 3px;
  color: red;
}

.resetPassword {
  display: block;
  margin-bottom: 14px;
  text-align: center;
  text-decoration: underline;
  color: $scanBlue;
  margin-top: 10px;
}

.authSocialMedia {
  width: 379px;
  text-align: start;
}

.enterWith {
  text-align: start;
  font-size: 16px;
  color: #949494;
}

.socialButtons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 20px;
}

.socialButtons button {
  width: 96px;
  height: 31px;
  background: none;
  border: solid #aab6ff;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 0;
}

.socialButtons img {
  max-width: 70%;
  display: block;
  margin: auto;
}

input {
  font-family: "InterRegular", sans-serif;
  font-size: 16px;
}

@media (max-width: 1360px) {
  .authContent {
    max-width: 375px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .textAndPicture {
    padding-top: 0;
    margin-left: 14px;
  }

  .h1AuthPage {
    font-size: 22px;
  }

  .authLargeImageDesktop {
    display: none;
  }

  .authLargeImageMobile {
    width: 335px;
    height: 356.1px;
    margin-left: 25px;
    display: block;
    margin-top: 50px;
  }

  .authBlock {
    width: 335px;
    height: 585px;
    margin-top: 20px;
  }

  .authIconLock {
    margin-left: 60px;
    margin-bottom: 30px;
  }

  .authForm {
    width: 335px;
    height: 504px;
    border: 0;
    margin-top: -40px;
    margin-left: 0;
    padding: 20px;
  }

  .tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .tab {
    padding-bottom: 5px;
    font-size: 14px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .authForm form {
    min-width: 305px;
    max-width: 305px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .authForm input[type="text"],
  .authForm input[type="password"] {
    width: 305px;
  }

  .authForm input:focus {
    font-size: 14px;
  }

  .authButtonDiv {
    margin-top: 30px;
    text-align: center;
  }

  .authFormError {
    font-size: 12px;
  }

  .authSocialMedia {
    width: 305px;
  }
  .button {
    font-size: 20px;
  }
}
